HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# AWS credentials (extra safety)
.aws/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# =========================
# AI / Python
# =========================

# Dataset
ai/dataset/

# Trained AI models
*.h5
*.keras

# Python cache
__pycache__/
*.pyc

# Python virtual environment
venv/
.env

# =========================
# Frontend
# =========================

# Node modules
node_modules/

# Vite build files
dist/

# =========================
# TensorFlow / Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Temporary uploads
# =========================

temp/
uploads/